@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    min-height: 100vh;
    background: #343f4f;
}

.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    background: #fff;
    text-align: center;
    line-height: 46px;
    border-radius: 50%;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }

  .wrapper i:hover{
    background: #f2f2f2;
  }
   
.wrapper i:first-child{
    left: -23px;
    display: none;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging{
    pointer-events: none;
}

.carousel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
}

@media (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
}